<head>
  <meta charset="UTF-8">
  <title>Quote Hub</title>
      <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Libre+Baskerville&family=Palanquin+Dark:wght@400&display=swap" rel="stylesheet">
</head>

<body>
<div class="flex flex-col w-full h-screen my-auto items-center overflow-auto bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-orange-400 via-amber-200 to-sky-500">

<div class="text-4xl font-bold mx-5 mt-10 mb-8">
    <header>
        <h1 id="title" class="text-7xl font-bold flex justify-center" style="font-family: 'Crimson Text', serif;">
            Quote<span class="font-bold text-emerald-950">Hub</span>
          </h1>
    </header>
</div>

<main id="main-container" class="grid w-7/12 place-items-center"></main>
        {{{ body }}}
</main>

</body>
</html>