    <div class="container resize-none rounded-md block p-2.5 w-1/2 max-w-sm sm:w-1/3 sm:max-w-xs h-80 text-sm md:text-base text-gray-900 bg-white rounded-lg border border-gray-300 shadow-md shadow-[#542745]/40 focus:ring-blue-500 focus:border-blue-500 mt-6 left-0 sm:left-1/2 sm:transform sm:-translate-x-1/2" style="width: 150%;">
      <div class="mb-4">
        <label for="username" class="block">Username:</label>
        <input type="text" id="username" name="username" required class="w-full border border-gray-300 rounded px-3 py-2">
      </div>
      <div class="mb-6">
        <label for="password" class="block">Password:</label>
        <input type="password" id="password" name="password" required class="w-full border border-gray-300 rounded px-3 py-2">
      </div>
      <div class="flex justify-center">
        <input type="submit" value="Login" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer ">
      </div>
      <p class="text-sm text-gray-700 mt-4">New to Quote Hub? <a href="view/newaccount.handlebars" class="text-blue-500 hover:underline">Sign up</a></p>
    </div>