<div id="random-quote-container" class="container mx-auto">
  <div id="container mx-auto">
    <h2 class="text-4xl mb-6">Brighten your day with a random quote!</h2>
  </div>
  <div
    class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
  >
    <h5
      id="random-quote-author"
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
    </h5>
    <textarea
      id="random-quote-text"
      class="mb-4 text-base text-neutral-600 dark:text-neutral-200"
    >
    </textarea>
  </div>
</div>

<!-- Buttons section for get and save quotes -->
<section
  id="buttons"
  class="flex flex-wrap justify-center text-sm md:text-base my-4 space-x-4"
>
  <!-- Get random quote button -->
  <button
    id="getbtn-random-quote"
    class="btns bg-gray-300 hover:bg-green-500 text-gray-800 shadow-md shadow-[#542745]/40 mt-3 font-bold py-2 px-4 rounded"
  >Get a Quote</button>
  <!-- Save a random quote -->
  <button
    id="savebtn-random-quote"
    class="btns bg-gray-300 shadow-md shadow-[#542745]/40 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mt-3"
  >Save Quote</button>
</section>

<div id="saved-quote-container" class="container mx-auto">
  <div id="container mx-auto">
    <h2 class="text-4xl mb-6">Saved Quotes</h2>
  </div>
  <!-- For each quote in the array of quote objects -->
  <div
    class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
  >
    {{#each quotes as |quote|}}
      <h5
        id="saved-quote-author"
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        {{quote.author}}
      </h5>
      <p
        id="saved-quote-text"
        class="mb-4 text-base text-neutral-600 dark:text-neutral-200"
      >
        {{quote.quote_text}}
      </p>
    {{/each}}
  </div>
</div>

<section
  id="buttons"
  class="flex flex-wrap justify-center text-sm md:text-base my-4 space-x-4"
>
  <div class="clear saved quotes">
    <button
      id="clearbtn-saved-quotes"
      class="btns bg-gray-300 shadow-md shadow-[#542745]/40 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mt-3"
    >Clear Saved Quotes</button>
  </div>
</section>