<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<div>
  <div>
    <div>
      <div>
        <form>
          <div>
            <span>Username</span>
            <input placeholder="" type="text">
          </div>
          <div>
            <span>Email</span>
            <input placeholder="" type="email">
          </div>
          <div>
            <span>Password</span>
            <input placeholder="" type="password">
          </div>
          <div>
            <span>Password Confirm</span>
            <input placeholder="" type="password">
          </div>
          
          <button>
            Register
          </button>
        </form>
        <div>
          <a href="#">
            You're already a member? <span>Login</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
