<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<div class="w-150 h-auto rounded-lg pt-8 pb-8 px-8 flex flex-col items-center text-gray-900 bg-white rounded-lg border border-gray-300 shadow-md shadow-[#542745]/40 focus:ring-blue-500 focus:border-blue-500 mt-10">
    <div class="max-w-m mx-auto px-6">
        <div class="relative flex flex-wrap">
            <div class="w-full relative">
                <div class="md:mt-6">
                    <form>
                        <div>
                            <span>Username</span>
                            <input placeholder="" type="text">
                        </div>
                        <div>
                            <span>Email</span>
                            <input placeholder="" type="email">
                        </div>
                        <div>
            <span>Password</span>
            <input placeholder="" type="password">
          </div>
          <div>
            <span>Password Confirm</span>
            <input placeholder="" type="password">
          </div>
          
          <button>
            Register
          </button>
        </form>
        <div>
          <a href="#">
            You're already a member? <span>Login</span>
          </a>
                </div>
            </div>
        </div>
    </div>
</div>
